/* For index, login and signup */
.greeting {
    min-height: 90vh;
}

/* Get crosshair on column headers to show moving functionality */
/* .table-hover thead tr:hover {
    cursor: move;
} */

/* I don't like underscores in links */
a {
    text-decoration: none;
}

/* Selected row in parts table */
tr.selected {
    background-color: rgba(var(--bs-info-rgb), 0.5);
    border: var(--bs-primary-border-subtle) solid 2px;
}

tr.selected-last {
    background-color: rgba(var(--bs-primary-rgb), 0.5);
    border: var(--bs-primary-border-subtle) solid 2px;
}

tr.selected-last td {
    border: var(--bs-primary-border-subtle) solid 2px;
}

/* Prohibit selecting text when pressing shift (selecting multiple rows in table) */
.table-no-select tbody tr td {
    user-select: none;
}

/* Info window */
.info-window {
    border: 1px solid rgba(var(--bs-primary-rgb), 0.1);
    overflow: auto;
    z-index: 1;
    /* Otherwise overlaps with other elements */
}

/* Action Buttons */
.btn-label {
    position: relative;
    left: -8px;
    display: inline-block;
    padding: 4px 12px 3px;
    margin: 0;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

/* Navbar Links */
.nav-link {
    /* This overrides --bs-nav-link-color */
    color: white;
}

/* Tab Links in info window */
.nav-link.tab-link {
    color: var(--bs-nav-link-color);
}

/* Links in the user dropdown */
ul.dropdown-menu a {
   color: black;
}

.navbar-nav .nav-link.active {
    /* This overrides --bs-navbar-active-color */
    color: greenyellow;
}

.navbar-brand,
.toolbar-title {
    color: rgb(0, 0, 0);
}

/* For highlighting new table rows */
.highlight-new {
    background-color: yellow;
    transition: background-color 0.5s ease-in-out;
}

.fade-out {
    background-color: transparent;
}

/* These are for the resizable divs - these are just decorators, no functionality  */
.ui-resizable-e {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: col-resize;
    z-index: 9999;
}

.ui-resizable-e:before,
.ui-resizable-e:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #000;
}

.ui-resizable-e:before {
    height: 10%;
    width: 1px;
    /* margin-top: -3px; */
    margin-left: -2px;
    background-color: var(--bs-primary-border-subtle);
}

.ui-resizable-e:after {
    height: 10%;
    width: 1px;
    /* margin-top: -4px; */
    /* margin-left: -1px; */
    background-color: var(--bs-primary-border-subtle);
}

.features-section li i {
    font-size: 2rem;
    margin-right: 1rem;
    color: #007bff;
}

/* Enhanced Navbar */
.navbar, .toolbar-top {
    background-color: rgba(32, 62, 105, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .navbar-brand {
    font-weight: bold;
    color: #ffffff;
} */

.navbar-nav .nav-link {
    color: #ffffff;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #ffcc00;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
    transition: background-color 0.3s, color 0.3s;
}

.btn-warning:hover {
    background-color: #e0a800;
    color: #ffffff;
}

.navbar-toggler {
    border-color: #ffffff;
}

.navbar-toggler-icon {
    color: #ffffff;
}

#welcome-headline::after {
    content: 'BETA';
    font-size: 12px;
    vertical-align: top;
}