/* utilities.css */

/* Get crosshair on column headers to show moving functionality */
/* .table-hover thead tr:hover {
    cursor: move;
} */

/* These are for the resizable divs - these are just decorators, no functionality */
.ui-resizable-e {
    width: 0.9rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0.05rem;
    cursor: col-resize;
    z-index: 1;
    background-color: rgba(var(--bs-info-rgb), 0.01);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    /* Smooth transition for hover effect */
}

/* Hover effect for the resizable handle */
.ui-resizable-e:hover {
    background-color: rgba(var(--bs-primary-rgb), 0.1);
    /* Change to a new color on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Optional shadow for a more visible effect */
}

/* Warning Button */
.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
    transition: background-color 0.3s, color 0.3s;
}

.btn-warning:hover {
    background-color: #e0a800;
    color: #ffffff;
}

/* Sortable */
.sortable-ghost {
    opacity: 0.5;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
}

/* Keyboard Hints */
#table-window:hover .key-hint {
    opacity: 1;
    visibility: visible;
}

.key-hint {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Editable Pen */
.editable .edit-pen {
    visibility: hidden; /*hidden*/
}

.editable:hover .edit-pen {
    visibility: visible;
}

.editable:hover .edit-pen::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5); /* Adjust for desired opacity effect */
    z-index: -1;
}

.edit-pen a {
    color: var(--bs-gray-500);
    /* transition: color 0.05s ease; */
}

.edit-pen a:hover {
    color: black;
}

.truncate-url {
    /* max-width: 200px; Adjust as needed */
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: inline-ock; */
    vertical-align: middle; /* Optional for alignment */
    cursor: pointer; /* Indicate the text is clickable (for tooltip) */
}