/* utilities.css */

/* Get crosshair on column headers to show moving functionality */
/* .table-hover thead tr:hover {
    cursor: move;
} */

/* These are for the resizable divs - these are just decorators, no functionality */
.ui-resizable-e {
    width: 0.9rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0.05rem;
    cursor: col-resize;
    z-index: 1;
    background-color: rgba(var(--bs-info-rgb), 0.01);
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for hover effect */
}

/* Hover effect for the resizable handle */
.ui-resizable-e:hover {
    background-color: rgba(var(--bs-primary-rgb), 0.1); /* Change to a new color on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional shadow for a more visible effect */
}


/* .ui-resizable-e:before,
.ui-resizable-e:after {
    content: "";
    display: block;
    position: absolute;
    top: 50rem;
    left: 0.25rem;
    background-color: #000;
} */

/* .ui-resizable-e:before {
    height: 100rem;
    width: 1px;
    margin-left: -2px;
    background-color: var(--bs-primary-border-subtle);
} */

/* .ui-resizable-e:after {
    height: 100rem;
    width: 1px;
    background-color: var(--bs-primary-border-subtle);
} */

/* Warning Button */
.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
    transition: background-color 0.3s, color 0.3s;
}

.btn-warning:hover {
    background-color: #e0a800;
    color: #ffffff;
}

/* Hero Section */
.hero-section {
    color: white;
    padding: 5rem 0;
}

/* Sortable */
.sortable-ghost {
    opacity: 0.5;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
}
