.p-hero {
    /* background-color: rgba(255, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white; */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    color: white; /* Adjust text color for better contrast */
}

/* Custom Styles */
body {
    background-color: #f8f9fa;
}

/* Hero Section */
.hero-section {
    background-image: url('/path/to/hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 5rem 0;
}

.hero-section h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.5rem;
}

.hero-section .btn {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
}

/* Card Styles */
.card {
    border: none;
    margin-bottom: 2rem;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-body {
    padding: 2rem;
}

.card img {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/* Features Section */
.features-section ul {
    list-style: none;
    padding: 0;
}

.features-section li {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.landing-page {
    background-image: url('/public/app-related/landing-background.webp');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    /* font-family: 'Open Sans', sans-serif; */
    padding: 0;
    margin: 0;
}

.hero-section {
    color: white;
    padding: 5rem 0;
}

.card {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for cards */
    border: none;
    margin-bottom: 2rem;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-body {
    padding: 2rem;
}

.card img {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
