.table-hover thead tr:hover {
    cursor: move;
}

/* Length of quantity field in the stockModals modal */
.stockModalNumber {
    width: 33%;
}

/* I don't like underscores in links */
a {
    text-decoration: none;
}

/* Selected row in parts table */
tr.selected {
    background-color: rgba(0, 255, 255, 0.1);
}

.info-window {
    border: 1px solid rgba(var(--bs-primary-rgb), 0.1);
    overflow: auto;
}

/* These are for the resizable divs in the inventory page */
.ui-resizable-e {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: col-resize;
    z-index: 9999;
}

.ui-resizable-e:before,
.ui-resizable-e:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #000;
}

.ui-resizable-e:before {
    height: 20px;
    width: 1px;
    /* margin-top: -3px; */
    margin-left: -2px;
    background-color: #F8F8FF;
}

.ui-resizable-e:after {
    height: 20px;
    width: 1px;
    /* margin-top: -4px; */
    /* margin-left: -1px; */
    background-color: #F8F8FF;
}